--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
tensorflow-cpu
torch
torchvision
https://github.com/ultralytics/ultralytics/archive/refs/tags/v8.4.19.zip
numpy
pandas
plotly
matplotlib
seaborn
scikit-learn
pillow
tqdm
